{{!-- <div class="container mt-5">
<div class="card bg-white">
    <div class="about-user-hd bg-light" >
        <div class="row">
            <div class="col-6">
<h5 id="profile_page_title">Edit Profile</h5>
            </div>
            <div class="col-6 text-right d-lg-none">
                <h5>
                    Next
                </h5>
            </div>
            </div> 
        </div>
    <div class="row">
<div class="col-md-3 hidden-mobile">
    <div class="about-user-sd">
        <ul class="sidenav-abt">
            <li id="edit_profile"><a href="/editprofile">Edit Profile</a></li>
            <li id="change_pass"><a href="/changepassword" >Change Password</a></li>
            <li id="details_abt_you"><a href="/aboutuser" >Details About You</a></li>
            <li id="contact_info"><a href="/usercontactinfo" >Contact Info</a></li>
            <li id="logout_user">Logout</li>
        </ul>
    </div>
    <div class="bd-r"></div>
</div> --}}

<div class="about-user-hd bg-light">
    <div class="row">
        <div class="col-6">
            <h5 class="section-title" id="profile_page_title">Edit Profile</h5>
        </div>
        <div class="col-6 text-right d-lg-none">
            <h5>
                Next
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div id="edit-sidebar">
            <ul class="sidenav-abt">
                <li id="edit_profile" class="active"><a href="/editprofile">Edit Profile</a></li>
                <li id="change_pass"><a href="/changepassword">Change Password</a></li>
                <li id="details_abt_you"><a href="/aboutuser">Details About You</a></li>
                <li id="contact_info"><a href="/usercontactinfo">Contact Info</a></li>
                <li id="logout_user">Logout</li>
            </ul>
        </div>
    </div>