<div class="container mt-5">
<div class="card bg-white">
    <div class="about-user-hd bg-light" ><h5 id="profile_page_title">Edit Profile</h5></div>
    <div class="row">
<div class="col-md-3">
    <div class="about-user-sd">
        <ul class="sidenav-abt">
            <li id="edit_profile"><a href="/editprofile">Edit Profile</a></li>
            <li id="change_pass"><a href="/changepassword" >Change Password</a></li>
            <li id="details_abt_you"><a href="/aboutuser" >Details About You</a></li>
            <li id="contact_info"><a href="/usercontactinfo" >Contact Info</a></li>
            <li id="logout_user">Logout</li>
        </ul>
    </div>
    <div class="bd-r"></div>
</div>