<div class="col-md-3">
    <div class="about-user-sd">
        <ul class="sidenav-abt">
            <li class="active"><a href="/editprofile">Edit Profile</a></li>
            <li><a href="/changepassword">Change Password</a></li>
            <li><a href="/aboutuser">Details About You</a></li>
            <li><a href="/usercontactinfo">Contact Info</a></li>
            <li><a href="">Logout</a></li>
        </ul>
    </div>
    <div class="bd-r"></div>
</div>