

<div class="profile-pix pt-3">
    <div class="imgprofile">
        <img src="img/21104.svg" class="img-fluid" alt="sign up page" id="profile_pics">
    </div>
    <div class="text-profile mt-3 ml-5">
        <h5 id="profile_page_name"></h5>
        <p><a href="">Change Picture</a></p>
        <input type="file" id="profile_image_upload" accept="image/*">
    </div>
</div>