 <div class="card sidebar-about-ul">
                        <h5>About this Room</h5>
                        <ul>
                            <li> <a><i class="fa fa-phone"></i> <span> 08064786137</span> </a></li>
                            <li><a><i class="fa fa-envelope"></i> <span>magnificentorung@gmail.com</span></a> </li>
                            <li><i class="fa fa-home"></i> <span>Town Street off Ann Road, USA</span> </li>
                            
                        </ul>
                        <h5>Related Rooms</h5>
                        <div class="flex-container border-b mt-2">  
                            <div>
                                <a href="">
                                    <img src="/img/21104.svg">
                                </a>
                            </div>
                            <div class="side-content">
                                
                                    <p class="ft-14"><a href="#">African All Stars</a></p>
                                    <p class="color-black ft-12"><b>80k</b> post</p>
                                    <p class="color-black ft-12"> <b>5k</b> members</p>
                            </div>
                            <div class="side-button text-right">
                                <button class="btn btn-default pd-0">Join room</button>
                            </div>
                    </div>  
                    </div>