 <div class="side-like card">
            <h5>You may also like</h5>
                <div class="flex-container border-b mt-2">  
                        <div >
                           <a href="">
                               <img src="/img/21104.svg">
                            </a>
                        </div>
                        <div class="side-content">
                            <a href="#">
                                <p>Promise Orung</p>
                            </a>
                            <p class="status-color">Coach</p>
                        </div>
                   
                        <div class="side-button">
                            <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-primary ">Add</button>
                        </div>
                </div> 
                <div class="flex-container border-b mt-2">  
                        <div >
                           <a href="">
                               <img src="/img/21104.svg">
                            </a>
                        </div>
                        <div class="side-content">
                            <a href="#">
                                <p>Promise Orung</p>
                            </a>
                            <p class="status-color">Coach</p>
                            
                        </div>
                   
                        <div class="side-button">
                            <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-primary ">Add</button>
                        </div>
                </div> 
                <div class="flex-container border-b mt-2">  
                        <div >
                           <a href="">
                               <img src="/img/21104.svg">
                            </a>
                        </div>
                        <div class="side-content">
                            <a href="#">
                                <p>Promise Orung</p>
                            </a>
                            <p class="status-color">Coach</p>
                        </div>
                   
                        <div class="side-button">
                            <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-primary ">Add</button>
                        </div>
                </div>               
                <div class="see-more">
                    <a href="#">See more</a>
                </div>
        </div>

        <div class="side-like card mt-5">
            <h5>Trending</h5>
                <div class="flex-container border-b mt-2">  
                        <div>
                           <a href="">
                               <img src="/img/21104.svg">
                            </a>
                        </div>
                        <div class="side-content">
                            <a href="#">
                                <p>Manchester</p>
                                <span class="color-black">manchester playing against Arsenal don't miss</span>
                            </a>
                        </div>
                   
                        <div class="side-button">
                            <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-primary">Like</button>
                        </div>
                </div>
                <div class="flex-container border-b mt-2">  
                        <div>
                           <a href="">
                               <img src="/img/21104.svg">
                            </a>
                        </div>
                        <div class="side-content">
                           <a href="#">
                                <p>Manchester</p>
                                <span class="color-black">manchester playing against Arsenal don't miss</span>
                            </a>
                        </div>
                   
                        <div class="side-button">
                            <button class="btn btn-primary mb-12">Follow</button>
                            <button class="btn btn-primary">Add</button>
                        </div>
                </div>
                 <div class="flex-container border-b mt-2">  
                        <div>
                           <a href="">
                               <img src="/img/21104.svg">
                            </a>
                        </div>
                        <div class="side-content">
                           <a href="#">
                                <p>Manchester</p>
                                <span class="color-black">manchester playing against Arsenal don't miss</span>
                            </a>
                        </div>
                   
                        <div class="side-button">
                            <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-primary
                            ">Add</button>
                        </div>
                </div>                
                <div class="see-more">
                    <a href="#">See more</a>
                </div>
        </div>

        <div class="side-like card mt-5">
            <h5>Suggestion for you</h5>
                <div class="flex-container border-b mt-2">  
                    <div>
                        <a href="">
                            <img src="/img/21104.svg">
                        </a>
                    </div>
                    <div class="side-content">
                        <a href="#">
                            <p>African All Stars</p>
                            <span class="color-black"><b>80k</b> post</span>
                            <span class="color-black"> <b>5k</b> members</span>
                        </a>
                    </div>
                
                    <div class="side-button text-right">
                        <button class="btn btn-default mb-2">Join room</button>
                    </div>
                </div>                
                <div class="flex-container border-b mt-2">  
                    <div>
                        <a href="">
                            <img src="/img/21104.svg">
                        </a>
                    </div>
                    <div class="side-content">
                        <a href="#">
                            <p>African All Stars</p>
                            <span class="color-black"><b>80k</b> post </span>
                            <span class="color-black"><b>5k</b> members</span>
                        </a>
                    </div>
                
                    <div class="side-button text-right">
                        <button class="btn btn-default mb-2">Join room</button>
                    </div>
                </div>                
                <div class="flex-container border-b mt-2">  
                    <div>
                        <a href="">
                            <img src="/img/21104.svg">
                        </a>
                    </div>
                    <div class="side-content">
                        <a href="#">
                            <p>African All Stars</p>
                            <span class="color-black"><b>80k</b> post </span>
                            <span class="color-black"><b>5k</b> members</span>
                        </a>
                    </div>
                
                    <div class="side-button text-right">
                        <button class="btn btn-default mb-2">Join room</button>
                    </div>
                </div>                
                <div class="see-more">
                    <a href="#">See more</a>
                </div>
        </div>
