        <div class="side-like card pd-mobile">
            <h5 class="section-title">Search for a friend</h5>
            <div>
                <form action="">
                    <div class="form-group">
                        <input type="text" placeholder="Enter name or email" id="userSearchInput" class="form-control">
                    </div>
                    <p class="btn btn-small btn-info pull-right" id="add-friend" onclick="searchUser()">Search</p>
                </form>
            </div>
            <div id="search-result-layout">
                    
            </div>
                <div class="see-more hidden-mobile">
                    <a href="#">See more</a>
                </div>
        </div>

        <div class="side-like card mt-5 hidden-mobile">
            <h5 class="section-title">Suggested Rooms for you</h5>
            <div id="room-container">
                <div id="sug-rooms">

                </div>
                <div class="see-more">
                    <a href="#">See more</a>
                </div>
            </div>
        </div>

        <div class="side-like card mt-5 hidden-mobile">
            <h5 class="section-title">My Rooms</h5>
            <div id="my-room-container">
                
                <div class="see-more">
                    <a href="#">See more</a>
                </div>
            </div>
            
        </div>
