<div class="card create-post">
    <div class="create-post-h5">
        <h5 class="color-blue">Create post</h5>
    </div>
    <div class="d-flex justify-content-between pd-1">
        <div class="text-center">
            <img src="/img/21104.svg" class="img-prof">
        </div>
        <div class=" flex-grow-1 pd-4 ">
            <form action="POST" enctype="multipart/form-data">

           

            <div class="form-group green-border-focus">
                <textarea type="text" placeholder="Tell us how you feel..." id="postInput" value="" class="form-control post-input" row="6"></textarea>
            </div>
            <div class="send-post-icon"><i class="fa fa-send" id="sendPost"></i></div>
        </div>
    </div>
    <div class="create-post-add">
        <div class="d-flex justify-content-between">
            <div class="p-2 text-center"> 
                <input type="file" id="image-upload" accept="audio/*,video/*,image/*"><i class="fa fa-paperclip"></i> Photo/Video
            </div>
            {{!-- <div class="p-2 text-right"> 
                <i class="fa fa-user"></i> Tag a friend
            </div> --}}
        </div>
    </div>
    </form>
</div>