DATABASE_URL_TEST=postgres://kyoaktwy:q_kOtZk4XzEQPARABdUaelc2N3iB3FWL@manny.db.elephantsql.com:5432/kyoaktwy
DATABASE_URL_DEV=postgres://kyoaktwy:q_kOtZk4XzEQPARABdUaelc2N3iB3FWL@manny.db.elephantsql.com:5432/kyoaktwy
DATABASE_URL_PROD=value

JWT_SECRET=jkjfhskjsfhksfh

GOOGLE_CLIENT_ID=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/oauth/google
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=http://localhost:3000/api/v1/oauth/facebook

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_ID=
EMAIL_PASS=
EMAIL_HOST=
