<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Roboto&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.css" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>{{{ title }}}</title>
</head>

<body>
  {{{ body }}}

  <div class="row">
    <div class="card message-box p-0">
      <div class="d-flex close-btn" id="remove-btn">
        <a href="#" class="remove-btn">X</a>
      </div>
      <div class="pd-15 pb-0">
        <div class="d-flex justify-content-start ">
          <div class="comment-img">
            <img src="/img/21104.svg" class="img-prof">
          </div>
          <div class="tap-cont-profile pd-3-12 ">
            <h5 class="font-16 d-flex chat-layout">Ogochukwu Odom</h5>
            <p class="font-14">Active: 1hrs ago</p>
          </div>
        </div>
      </div>
      <div class="line-bd"></div>
      <div class="scrollable-text">
        <div class="comment-bot pd-15">
          <div class="owner-text">
            <p> Hello </p>
          </div>
        </div>
        <div class="comment-bot pd-15">
          <div class="sender-text">
            <p> Hello </p>
          </div>
        </div>
        <div class="comment-bot pd-15">
          <div class="owner-text">
            <p> Did you watch the latest march Did you watch the latest march
              last wekendlast wekend </p>
          </div>
        </div>
      </div>
      <div class="line-bd"></div>
      <div class="d-flex  pd-15 justify-content-start">
        <div class="pd-pos">
          <a href="#"><i class="fa fa-image"></i></a>
        </div>
        <div class="pd-pos">
          <a href="#"><i class="fa fa-paperclip"></i></a>
        </div>
        <form class="form-inline my-2"></form>
        <div class=" green-border-focus width-100">
          <input type="search" placeholder="Type..." aria-label="Search" class="form-control post-input">
          <button type="submit" class="fa fa-send border-none clip-attach"></button>
        </div>
        </form>
    
      </div>
    
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/socket.io/socket.io.js"></script>
  <script>

    var base = 'api/v1/';
    var theToken = localStorage.getItem('token');
    console.log(theToken)
    if (!theToken) {
      if (window.location.pathname != '/login' && window.location.pathname !== '/' && window.location.pathname !== '/signup') {
        window.location.replace("/login");
      }
    }
    var options = {
      method: 'POST',
      headers: new Headers({
        'Authorization': `Bearer ${theToken}`
      })
    }
  </script>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/tata/dist/tata.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/AUTHUI.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="/js/socketConfig.js"></script>
<script src="/js/time_helper.js"></script>
<script src="/js/toast.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/signup_auth.js"></script>
<script src="/js/login_auth.js"></script>
<script src="/js/post.js"></script>
<script src="/js/user.js"></script>
<script src="/js/room.js"></script>
<script src="/js/news.js"></script>
<script src="/js/friend_profile.js"></script>
<script src="https://use.fontawesome.com/bcf5ac36e8.js"></script>
  {{!-- <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script> --}}
</body>

</html>
