<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  </head>
  <body>

    {{{body}}}
<script>
  var base = 'api/v1/';
  var theToken = localStorage.getItem('token');
  if (!theToken) {
       if (window.location.pathname != '/login' && window.location.pathname !== '/'){
        alert('Please Login')
        window.location.replace("/login");
       }
  }
  var options = {
        method: 'POST',
        headers: new Headers({
            'Authorization': `Bearer ${theToken}`
        })
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {{!-- <script src="/js/jquery.js"></script> --}}
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
   <script src="/js/profile.js"></script>
    <script src="/js/signup_auth.js"></script>
    <script src="/js/login_auth.js"></script>
    <script src="/js/post.js"></script>
     <script src="/js/search_user.js"></script>
  <script src="https://use.fontawesome.com/bcf5ac36e8.js"></script>
  </body>
</html>
