<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Roboto&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.css" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>{{{ title }}}</title>
</head>

<body>
  {{{ body }}}

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/socket.io/socket.io.js"></script>
  <script>

    var base = 'api/v1/';
    var theToken = localStorage.getItem('token');
    if (!theToken) {
      if (window.location.pathname != '/login' && window.location.pathname !== '/' && window.location.pathname !== '/signup') {
        window.location.replace("/login");
      }
    }
    var options = {
      method: 'POST',
      headers: new Headers({
        'Authorization': `Bearer ${theToken}`
      })
    }
  </script>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/tata/dist/tata.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/AUTHUI.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="/js/socketConfig.js"></script>
<script src="/js/time_helper.js"></script>
<script src="/js/toast.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/signup_auth.js"></script>
<script src="/js/login_auth.js"></script>
<script src="/js/post.js"></script>
<script src="/js/user.js"></script>
<script src="/js/room.js"></script>
<script src="/js/news.js"></script>
<script src="/js/friend_profile.js"></script>
<script src="https://use.fontawesome.com/bcf5ac36e8.js"></script>
  {{!-- <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script> --}}
</body>

</html>
