{{> header}}



<main>
    <section id="landing-page">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    {{> sidenav}}

                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="container">
                            <div class="text-center pt-3 pb-5 section-title">
                                <h3>About Us</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="img/bg-img.jpg" class="img-fluid" alt="image">
                                </div>
                                <div class="col-md-6">
                                    <div class="write-up">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel laudantium velit corporis ea, dolorem ex praesentium consequuntur et suscipit iste maiores omnis dicta molestiae reiciendis earum reprehenderit veritatis accusamus? Eos eum omnis consectetur tempora deserunt, voluptas qui? Enim, voluptatem expedita.</p>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur obcaecati atque, quas eius perferendis nostrum deserunt accusamus iusto animi ducimus?</p>
                                    </div>
                                </div>

                            </div>
                            <div class="text-center py-5 centered-image">
                                <p>"A champion is someone who does not settle for that day's practice, that day's competition, that day's performance. They
                                are always striving to be better. They don't live in the past.” – Briana Scurry</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</main>