
{{> header}}

<main>
    <section id="edit-details">
        <div class="container">
            <section class="card">
                {{> aboutsidebar}}
                <div class="col-md-8">
                    <div class="container shrink">
                        {{> profilepix}}
                        <form class="mt-5">
                            <div class="form-group">
                                <label for="email">Short Bio</label>
                                <textarea name="" id="input_short_bio_profile" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Favourite Quote:</label>
                                <textarea name="" id="input_favorite_quote_profile" class="form-control"></textarea>
                            </div>
                        
                            <button type="submit" class="btn btn-primary pull-right" id="edit_profile_button">Submit</button>
                        
                        </form>
                    </div>
                </div>
        </div>
        </div>
    </section>
    </div>
    </section>
</main>




