{{> header}}


            {{> aboutsidebar}}
            <div class="col-md-9 mt-5">
                 {{!-- {{> profilepix}} --}}
                <form class="mt-5">
                    <div class="form-group row">
                        <label for="inputOldPassword3" class="col-sm-2 col-form-label">Old Password</label>
                        <div class="col-sm-7">
                        <input type="password" class="form-control" id="old_pass_change_pass">
                        </div>
                    </div> 
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">New Password</label>
                        <div class="col-sm-7">
                        <input type="password" class="form-control" id="new_pass_change_pass">
                        </div>
                    </div> 
                    <div class="row">
                        <label for="inputConfirmPassword3" class="col-sm-2 col-form-label">Confirm New Password</label>
                        <div class="col-sm-7">
                        <input type="password" class="form-control" id="new_pass_change_pass_confirm">
                        </div>
                    </div> 
                    {{!-- <div class="form-group text-right form-check">
                        <div class="col-sm-9">
                            <label class="form-check-label" for="exampleCheck1"> <a href="/signup">Forget Password</a></label>
                        </div>
                    </div> --}}
                    <div class="form-group row">
                        <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary pull-right" id="change_pass_btn">Submit</button>
                        </div>
                    </div>
                    </form>
            </div>
        </div>
        
    </div>
</div>

