{{> header}}

<main>
    <section id="edit-details">
        <div class="container">
            <section class="card">
                {{> aboutsidebar}}
                <div class="col-md-8">
                    <div class="container shrink">
                        {{> profilepix}}
                        <form class="mt-5">
                            <div class="form-group">
                                <label for="email">Old Password</label>
                                <input type="password" class="form-control" placeholder="Enter Old password" id="old_pass_change_pass">
                            </div>
                            <div class="form-group">
                                <label for="pwd">New Password</label>
                                <input type="password" class="form-control" placeholder="Enter New password" id="new_pass_change_pass">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Confirm password" id="new_pass_change_pass_confirm">
                            </div>
                        
                            <button type="submit" class="btn btn-primary pull-right" id="change_pass_btn">Submit</button>
                        
                        </form>
                    </div>
                </div>
        </div>
        </div>
    </section>
    </div>
    </section>
</main>


