{{> header}}



<main>
    <section id="landing-page">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    {{> sidenav}}

                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="container">
                            <h3 class="text-center pt-3 pb-5 section-title">Contact Us</h3>
                            <div class="row">
                                <div class="col-md-6 col-sm-none contact-image">
                                    <img src="img/zlatan.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-6 col-12">

                                    
                                    <p class="text-center">You can write to us </p>
                                    <form action="">
                                        <div class="row text-center">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Full Name">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Subject">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea name="" id="" class="form-control" placeholder="Your message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-primary text-center btn-block">Submit</button>
                                            </div>
                                            
                                        </div>
                                        
                                    </form>

                                    <div class="socials">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</main>