
{{> header}}


<div class="wrapper">
    <div class="signin">
        <h4 class="text-center">Fifa Fan</h4>
        <small class="d-flex justify-center my-3">Connect with coach, fans and players around the world. Share informative and relevant information
            within the room.</small>
        <form action="" id="roomForm">
            <p id="error-message"></p>
            <p id="success-message"></p>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Room Name" id="roomName" aria-describedby="nameHelp">
        
            </div>
            <div class="form-group">
                <textarea name="" id="roomDesc" class="form-control" rows="3" placeholder="Describe your room"></textarea>
        
            </div>
            <button type="submit" class="btn btn-info btn-block my-3" id='submitForm'>Submit</button>
        </form>
        
    </div>
</div>
