{{> header}}

<main>
    <section id="edit-details">
        <div class="container">
            <section class="card">
            {{> aboutsidebar}}
                    <div class="col-md-8">
                        <div class="container shrink">
                            {{> profilepix}}
                            
                            <form class="mt-2">
                                <div class="form-group">
                                    <label for="fullname">Full Name:</label>
                                    <input type="text" class="form-control" placeholder="Enter Fullname" id="input_profile_fullname">
                                </div>
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control" placeholder="Enter Username" id="input_profile_username">
                                </div>
                                <div class="form-group">
                                    <label for="Gender">Select Gender:</label>
                                    <select class="form-control" id="input_profile_gender">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Others</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Status">Select Status:</label>
                                    <select class="form-control" id="input_profile_status">
                                        <option>Coach</option>
                                        <option>Player</option>
                                        <option>Fan</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right"
                                    id="edit_profile_button">Submit</button>

                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    </div>
    </section>
</main>

