<div class="wrap">
    <div class="signin">
        <h4 class="text-center">FiFa Fan</h4>
        <small class="d-flex justify-center my-2">Don't have an account?<a class="ml-2" href="#">Sign Up</a></small>
        <form>
            <input type="email" id="inputEmail" class="form-control" placeholder="Enter new Password" required
                autofocus>

            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <button class="btn btn-info btn-block" type="submit">Sign in</button>

        </form>
        <small class="d-flex justify-center mt-2">Forgot Password?<a class="ml-2" href="#">Reset Here</a></small>
    </div>
</div>