<div class="wrap">
    <div class="signin">
        <h4 class="text-center">FiFa Fan</h4>
        <p class="text-center">We sent a verification email to <strong>magnificentorung@gmail.com</strong>. Click the
            link on the email to continue</p>
        <small class="d-flex justify-center mt-2">Didnt get the mail?<a class="ml-2" href="#">Resend Here</a></small>
        <div class="ribbon"></div>
    </div>
</div>