{{> header}}

            <main>
              <section id="landing-page">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                    
                      {{> sidenav}}
                    
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                       <div class="row bd-bottom">
                         <div class="col-md-4">
                           <h5 class="section-title ">Friends</h5>
                         </div>
                         <div class="col-md-8">
                           <input type="text" id="friend_search" onkeyup="checkFriends()" class="width-100 search-box" placeholder="Search for names..">
                         </div>
                       </div> 
                       <div class="row" id="all_friends">
                         <div class="col-md-6"  >
                             <div class="friend_list room-box  d-flex-d">
                                <div class="text-center" >
                                  <img src="https://res.cloudinary.com/psirius-eem/image/upload/v1591971037/media_mall/ARSENAL%20EKET%20FAN.png" class="img-prof img-fluid">
                                </div>
                                <div class="room-detail all-list">
                                    <p ><strong><span><a href="#">Ogochukwu Odom</a></span></strong>
                                    <span><button class="btn btn-info pull-right" onclick="gotoRoom('53fe0545-9f46-45f9-846f-2181322cc1fd')">Message</button></span>
                                  </p>
                                  <p><span class="fan-fn"> Arsenal </span><span class="fan-fn"> (Player)</span></p>
                                  <p>50 Followers</p>
                                </div>
                             </div>
                         </div>
                         <div class="col-md-6" >
                             <div class="friend_list room-box  d-flex-d">
                                <div class="text-center" >
                                  <img src="https://res.cloudinary.com/psirius-eem/image/upload/v1591971037/media_mall/ARSENAL%20EKET%20FAN.png" class="img-prof img-fluid">
                                </div>
                                <div class="room-detail all-list">
                                    <p ><strong><span><a href="#">Ayo Lovisgod</a></span></strong>
                                    <span><button class="btn btn-info pull-right" onclick="gotoRoom('53fe0545-9f46-45f9-846f-2181322cc1fd')">Message</button></span>
                                  </p>
                                  <p><span class="fan-fn"> Arsenal </span><span class="fan-fn"> (Player)</span></p>
                                  <p>50 Followers</p>
                                </div>
                             </div>
                         </div>
                         <div class="col-md-6" >
                             <div class="friend_list room-box  d-flex-d">
                                <div class="text-center" >
                                  <img src="https://res.cloudinary.com/psirius-eem/image/upload/v1591971037/media_mall/ARSENAL%20EKET%20FAN.png" class="img-prof img-fluid">
                                </div>
                                <div class="room-detail all-list">
                                    <p ><strong><span><a href="#">Tochi O.</a></span></strong>
                                    <span><button class="btn btn-info pull-right" onclick="gotoRoom('53fe0545-9f46-45f9-846f-2181322cc1fd')">Message</button></span>
                                  </p>
                                  <p><span class="fan-fn"> Arsenal </span><span class="fan-fn"> (Player)</span></p>
                                  <p>50 Followers</p>
                                </div>
                             </div>
                         </div>
                         <div class="col-md-6" >
                             <div class="friend_list room-box  d-flex-d">
                                <div class="text-center" >
                                  <img src="https://res.cloudinary.com/psirius-eem/image/upload/v1591971037/media_mall/ARSENAL%20EKET%20FAN.png" class="img-prof img-fluid">
                                </div>
                                <div class="room-detail all-list">
                                    <p ><strong><span><a href="#">Promise Orung</a></span></strong>
                                    <span><button class="btn btn-info pull-right" onclick="gotoRoom('53fe0545-9f46-45f9-846f-2181322cc1fd')">Message</button></span>
                                  </p>
                                  <p><span class="fan-fn"> Arsenal </span><span class="fan-fn"> (Player)</span></p>
                                  <p>50 Followers</p>
                                </div>
                             </div>
                         </div>
                    </div>
                      
                    </div>
                  </div>
                </div>
            
              </section>
            </main>