{{> header}}

            <main>
              <section id="landing-page">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                    
                      {{> sidenav}}
                    
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                       <div class="row bd-bottom">
                         <div class="col-md-4">
                           <h5 class="section-title ">Friends</h5>
                         </div>
                         <div class="col-md-8">
                            <input type="text" placeholder="Enter name or email" id="friend_search" onkeyup="checkFriends()" class="search-box form-control">

                         </div>
                       </div> 
                       <div class="row" id="all_friends">
                        
                    </div>
                      
                    </div>
                  </div>
                </div>
            
              </section>
            </main>