{{> header}}



<div class="container mt-5">
<div class="row">
        <div class="col-md-4 hidden-mobile mb-5">
       <div> {{> sidenav}}</div>
        </div>
          <div class="col-lg-8  col-12">

              {{> userpost}}

              <div class="card mt-5 pd-15">
                <div class="d-flex justify-content-between border-b" >
                  <h4 class="m-0">Stories</h4>
                  <p class="m-0"><a href="#">Add a story</a></p>
                </div>
                <div class="d-flex justify-content-between width-overflow mt-3">
                  <div class="stories-img">
                    <img src="img/1.png" alt="">
                    <p>Ogochukwu Odom</p>
                  </div>
                  <div class="stories-img">
                    <img src="img/1.png" alt="">
                    <p>Victor Red</p>
                  </div>
                  <div class="stories-img">
                    <img src="img/1.png" alt="">
                    <p>Victor Red</p>
                  </div>
                  <div class="stories-img">
                    <img src="img/1.png" alt="">
                    <p>Victor Red</p>
                  </div>
                  <div class="stories-img">
                    <img src="img/1.png" alt="">
                    <p>Victor Red</p>
                  </div>
                  <div class="stories-img">
                    <img src="img/1.png" alt="">
                    <p>Victor Red</p>
                  </div>
                  <div class="stories-img">
                    <img src="img/1.png" alt="">
                    <p>Victor Red</p>
                  </div>
                  <div class="stories-img">
                    <img src="img/1.png" alt="">
                    <p>Victor Red</p>
                  </div>
                  <div class="stories-img">
                    <img src="img/1.png" alt="">
                    <p>Victor Red</p>
                  </div>
                </div>
              </div>
              <div id="post-layout">
                
              </div>
              
              </div>
            </div>