
<div class="container sign-up-container">
    <div class="card m-auto mt-5 width-50">
         <div class="card-body">
             <div class="text-center">
                {{!-- <img src="" title="logo"> --}}
                <h2 class="mt-3 mb-2 color-blue"><a href="/"><b>Fifafan</b></a></h2>
                <h2 class="mt-3 mb-2"><b>Login to FifaFan</b></h2>
             </div>
            <form id="loginForm">
                 <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email address" id="email" aria-describedby="emailHelp">
                    
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" id="password">
                </div>
                <div class="form-group pull-left form-check">
                    <label class="form-check-label" for="exampleCheck1">Don't have an account? <a href="/signup">Sign up</a></label>
                </div>
                <div class="form-group pull-right form-check">
                    <label class="form-check-label" for="exampleCheck1"><a href="/forgetpassword">Forget Password</a></label>
                </div>
                <button type="submit" class="btn btn-primary width-100">Submit</button>
            </form>
        </div>
    </div>
</div>