{{> header}}

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-md-4 hidden-mobile mb-5">
            <div> {{> sidenav}}</div>
        </div>
        <div class="col-md-4 mobile-full-length b-5">
            <div class="card pb-5">
                <div class="d-flex justify-content-between pd-15">
                    <h5>Message</h5>
                    <h6><a href="#">New message</a></h6>
                </div>
                <div class="line-bd"></div>
                <div class="m-auto">
                    <form class="form-inline my-2">
                        <input class="form-control max-cont m-wd-26 b-r" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary b-l my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="line-bd"></div>
                <div class="d-flex justify-content-between bg-bd active-message mt-5">
                    <div class="p-2 comment-img text-center"> 
                        <img src="img/4.jpg" class="wd-sz" alt="">
                    </div>
                    <div class="p-2 comments-content"> 
                        <h5>Ayooluwa Lovisgod</h5>
                            <p class="color-green font-9">Player</p>
                            <p class="font-14"><span>You:</span> Asenal played Asenal...</p>
                    </div>
                    <div class="p-2 comments-content"> 
                        <p class="font-14">2nd Feb</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between bg-bd mt-3">
                    <div class="p-2 comment-img text-center"> 
                        <img src="img/4.jpg" class="wd-sz" alt="">
                    </div>
                    <div class="p-2 comments-content"> 
                        <h5>Ayooluwa Lovisgod</h5>
                            <p class="color-green font-9">Player</p>
                            <p class="font-14">You: Asenal played Asenal...</p>
                    </div>
                    <div class="p-2 comments-content"> 
                        <p class="font-14">2nd Feb</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between bg-bd mt-2">
                    <div class="p-2 comment-img text-center"> 
                        <img src="img/4.jpg" class="wd-sz" alt="">
                    </div>
                    <div class="p-2 comments-content"> 
                        <h5>Ayooluwa Lovisgod</h5>
                            <p class="color-green font-9">Player</p>
                            <p class="font-14">You: Asenal played Asenal...</p>
                    </div>
                    <div class="p-2 comments-content"> 
                        <p class="font-14">2nd Feb</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-mt mobile-full-length mb-5">
            {{> chatbox}}
        </div>
    </div>
</div>