{{> header}}
<section id="landing-page">


    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-md-4 hidden-mobile mb-5">
                <div> {{> sidenav}}</div>
            </div>
            <div class="col-md-8 mobile-full-length b-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card p-0 pb-5">
                            <div class="d-flex justify-content-between pd-15">
                                <h5>Message</h5>
                                {{!-- <h6><a href="#">New message</a></h6> --}}
                            </div>
                            <div class="line-bd"></div>
                            <div class="m-auto">
                                <form class="form-inline my-2">
                                    <input class="form-control max-cont m-wd-26 b-r" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-primary b-l my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div class="line-bd"></div>
                            <div class="" id="message-area">
                            Your Friend List will display here
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-mt mobile-full-length mb-5">
                        {{> chatbox}}
                    </div>
                </div>
            </div>
        </div>
</section>
