{{> header}}

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-lg-4 hidden-mobile mb-5">
            <div> {{> sidenav}}</div>
        </div>
        <div class="col-lg-8 col-12">
            {{!-- {{> userpost}} --}}
            <div class="mt-5 card pd-15">
                <div class="">
                    <div class="row ">
                        <div class=" col-lg-4 col-6">
                            <div class="card-bd mb-3 pd-0 ">
                                <img src="img/bg-img.jpg" class="img-news" alt="">
                                <div class="pd-15">
                                    <h5 class="text-flow-short-h5"><a href="/readnews">Aubameyang battles Fernandes for Premier </a></h5>
                                    <p class="text-flow-short-p">The 30-year-old enjoyed a fine scoring run of three goals in the three league matches he played in February</p>
                                    <div class="d-flex justify-content-between mt-3">
                                        <a href="/readnews" class="btn btn-primary">See More</a>
                                        <a href="/" class="btn btn-primary"><i class="thumb-up"></i>Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-6">
                            <div class="card-bd mb-3 pd-0">
                                <img src="img/bg-img.jpg" class="img-news" alt="">
                                <div class="pd-15">
                                    <h5 class="text-flow-short-h5"><a href="/readnews">Aubameyang battles Fernandes for Premier </a></h5>
                                    <p class="text-flow-short-p">The 30-year-old enjoyed a fine scoring run of three goals in the three league matches he played in February</p>
                                    <div class="d-flex justify-content-between mt-3">
                                        <a href="/readnews" class="btn btn-primary">See More</a>
                                        <a href="/" class="btn btn-primary"><i class="thumb-up"></i>Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-6">
                            <div class="card-bd mb-3 pd-0">
                                <img src="img/bg-img.jpg" class="img-news" alt="">
                                <div class="pd-15">
                                    <h5 class="text-flow-short-h5"><a href="/readnews">Aubameyang battles Fernandes for Premier </a></h5>
                                    <p class="text-flow-short-p">The 30-year-old enjoyed a fine scoring run of three goals in the three league matches he played in February</p>
                                    <div class="d-flex justify-content-between mt-3">
                                        <a href="/readnews" class="btn btn-primary">See More</a>
                                        <a href="/" class="btn btn-primary"><i class="thumb-up"></i>Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>