{{> header}}

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-md-4 mb-5">
            <div> {{> sidenav}}</div>
        </div>
        <div class="col-md-8">
            {{> userpost}}
            <div class="mt-5 card pd-15">
                <div class="">
                    <div class="row ">
                        <div class=" col-md-6">
                            <div class="card-bd pd-0 ">
                                <img src="img/bg-img.jpg" class="img-news" alt="">
                                <div class="pd-15">
                                    <h5><a href="/readnews">Aubameyang battles Fernandes for Premier </a></h5>
                                    <p>The 30-year-old enjoyed a fine scoring run of three goals in the three league matches he played in February</p>
                                    <div class="d-flex justify-content-between mt-3">
                                        <a href="/readnews" class="btn btn-primary">See More</a>
                                        <a href="/" class="btn btn-primary"><i class="thumb-up"></i>Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-6">
                            <div class="card-bd pd-0">
                                <img src="img/bg-img.jpg" class="img-news" alt="">
                                <div class="pd-15">
                                    <h5><a href="/readnews">Aubameyang battles Fernandes for Premier </a></h5>
                                    <p>The 30-year-old enjoyed a fine scoring run of three goals in the three league matches he played in February</p>
                                    <div class="d-flex justify-content-between mt-3">
                                        <a href="/readnews" class="btn btn-primary">See More</a>
                                        <a href="/" class="btn btn-primary"><i class="thumb-up"></i>Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>