{{> header}}
<div class="container mt-5">
<div class="row">
    <div class="col-md-4">
       {{> sidenav}}
    </div>
    <div class="col-md-8">
        <main>
            <div class="wrapper card">
                <div class="page-title">
                    <h5>Notification</h5>
                </div>
                <div class="notification-box border-b mt-2">
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <a href="">
                                <img src="/img/21104.svg" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <p>Ann kingsley</p>
                            <p>12hrs ago</p>
                        </div>
                        <div class="col-md-6">
                            <p>commented on a post you made</p>
                        </div>
                    </div>  
                </div>
                <div class="notification-box border-b mt-2">
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <a href="">
                                <img src="/img/21104.svg" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <p>Ann kingsley</p>
                            <p>12hrs ago</p>
                        </div>
                        <div class="col-md-6">
                            <p>commented on a post you made</p>
                        </div>
                    </div>  
                </div>
                <div class="notification-box border-b mt-2">
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <a href="">
                                <img src="/img/21104.svg" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <p>Ann kingsley</p>
                            <p>12hrs ago</p>
                        </div>
                        <div class="col-md-6">
                            <p>commented on a post you made</p>
                        </div>
                    </div>  
                </div>
                <div class="notification-box border-b mt-2">
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <a href="">
                                <img src="/img/21104.svg" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <p>Ann kingsley</p>
                            <p>12hrs ago</p>
                        </div>
                        <div class="col-md-6">
                            <p>commented on a post you made</p>
                        </div>
                    </div>  
                </div>
                <div class="notification-box border-b mt-2">
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <a href="">
                                <img src="/img/21104.svg" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <p>Ann kingsley</p>
                            <p>12hrs ago</p>
                        </div>
                        <div class="col-md-6">
                            <p>commented on a post you made</p>
                        </div>
                    </div>  
                </div>
                    
            </div>
        </main>
    </div>
</div>
</div>