{{> header}}
<div class="container mt-5">
<div class="row">
    <div class="col-md-4">
       {{> sidenav}}
    </div>
    <div class="col-md-8">
        <div class="profile-section">
            <div class="profile-img">
                <div class="img-text">
                    <div>
                        <img src="img/1.png" alt="">
                    </div>
                    <div>
                        <h5>Promise Orung</h5>
                        <p>Coach</p>
                    </div>
                </div>
                <div class="edit-message">
                    <button>Edit Profile</button>
                    <button><i class="fa fa-comment"></i>Message</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>