{{> header}}
<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-md-4 mb-5">
            <div> {{> sidenav}}</div>
        </div>
        <div class="col-md-8">
            <div class="profile-section card mb-5">
                <div class="profile-img">
                    <div class="img-text ">
                    <img src="img/bg-img.jpg" class="img-fluid">
                    </div>
                    <div class="pd-15 ">
                        <h2>Aubameyang battles Fernandes for Premier </h2>
                        <div class="d-flex justify-content-between">
                            <div>
                                2234 Likes
                            </div>
                            <div>
                                2234 Likes
                            </div>
                            <div>
                                <button class="btn btn-primary">Follow</button>
                            </div>
                            <div>
                               <button class="btn btn-primary">Follow</button>
                            </div>
                            <div>
                                <button class="btn btn-primary">Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>