{{> header}}
<div class="container mt-5">
<div class="row">
    <div class="col-md-4">
       {{> sidenav}}
    </div>
    <div class="col-md-8">
        <main>
            <div class="wrapper card">
                <div class="container">
                    <div class="room-description">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="img/1_tKU8rwcTaETeKnI6HKxRfQ.png" class="img-fluid" alt="">
                        </div>
                        <div class="text-section">
                            <h3>AFRICAN ALL STARS</h3>
                            <div class="row">
                                <div class="col-md-8">
                                    <p>The teenager has been a revelation for the Gunners, and his performances have predictablysparked a conversation about his international future</p>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    <button class="btn btn-red">Message</button>
                                    <button class="btn btn-red">Message</button>
                                    <button class="btn btn-red">Message</button>
                                    <button class="btn btn-red">Message</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
                
            </div>
        </main>
    </div>
</div>
</div>