{{> header}}
<div class="container mt-5">
<div class="row">
    <div class="col-md-4">
       {{> sidenav}}
    </div>
    <div class="col-md-8">
        <main>
            <div class="wrapper card">
                <div class="page-title">
                    <h5>Rooms <span class="pull-right">Create Rooms</span></h5>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box border-b mt-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img/1.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-5">
                                    <p>African All Stars</p>
                                    <p><span class="bold">8k</span> Post <span class="bold">500</span> Members</p>
                                </div>
                                <div class="col-md-3">
                                    <button class="join-btn btn-danger">Join</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box border-b mt-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img/1.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-5">
                                    <p>African All Stars</p>
                                    <p><span class="bold">8k</span> Post <span class="bold">500</span> Members</p>
                                </div>
                                <div class="col-md-3">
                                    <button class="join-btn btn-danger">Join</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box border-b mt-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img/1.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-5">
                                    <p>African All Stars</p>
                                    <p><span class="bold">8k</span> Post <span class="bold">500</span> Members</p>
                                </div>
                                <div class="col-md-3">
                                    <button class="join-btn btn-danger">Join</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box border-b mt-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img/1.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-5">
                                    <p>African All Stars</p>
                                    <p><span class="bold">8k</span> Post <span class="bold">500</span> Members</p>
                                </div>
                                <div class="col-md-3">
                                    <button class="join-btn btn-danger">Join</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box border-b mt-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img/1.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-5">
                                    <p>African All Stars</p>
                                    <p><span class="bold">8k</span> Post <span class="bold">500</span> Members</p>
                                </div>
                                <div class="col-md-3">
                                    <button class="join-btn btn-danger">Join</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box border-b mt-2">
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <img src="img/1.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-5">
                                    <p>African All Stars</p>
                                    <p><span class="bold">8k</span> Post <span class="bold">500</span> Members</p>
                                </div>
                                <div class="col-md-3">
                                    <button class="join-btn btn-danger">Join</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box border-b mt-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img/1.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-5">
                                    <p>African All Stars</p>
                                    <p><span class="bold">8k</span> Post <span class="bold">500</span> Members</p>
                                </div>
                                <div class="col-md-3">
                                    <button class="join-btn btn-danger">Join</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box border-b mt-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img/1.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-5">
                                    <p>African All Stars</p>
                                    <p><span class="bold">8k</span> Post <span class="bold">500</span> Members</p>
                                </div>
                                <div class="col-md-3">
                                    <button class="join-btn btn-danger">Join</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
                
                <a href="#" class="text-right py-3">Load More >></a>
            </div>
        </main>
    </div>
</div>
</div>