{{> header}}
{{!-- <div class="container mt-5">
<div class="row">
    <div class="col-md-4 hidden-mobile">
       {{> sidenav}}
    </div>
    <div class="col-lg-8 col-12 ">
        <div class=" card">
            <div class="page-title">
                <h4>Rooms <a href="/create_room" class="pull-right">Create Rooms</a></h4>
            </div>
            <div class="row " id="all-rooms-layout">
              
            </div>   
                            
            <a href="#" class="text-right py-3">Load More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>
</div> --}}

<main>
    <section id="landing-page">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    {{> sidenav}}

                </div>
                <div class="col-md-8">
                    <div class="card">
                        <h5 class="section-title">Rooms</h5>
                          
                        <hr>
                        <div id="all-rooms-layout">
                        </div>
                        <section class="see-more">
                            <a href="#" class="pull-right">See more</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
