{{> header}}
<div class="container mt-5">
<div class="row">
    <div class="col-md-4 hidden-mobile">
       {{> sidenav}}
    </div>
    <div class="col-md-8 ">
        <div class="wrapper pd-3 card">
            <div class="page-title">
                <h4>Rooms <a href="/create_room" class="pull-right">Create Rooms</a></h4>
            </div>
            <div class="row ">
                <div class="col-md-6">
                    <div class="box pb-3 d-flex border-b justify-content-between  mt-2">
                        <div class="">
                            <img src="img/1.png" alt="" class="img-fluid">
                        </div>
                        <div class="limited-text mr-2">
                            <h5><a href="#">African All Stars </a> </h5>
                            <p><span class="bold">8k</span> Post <span class="bold">500</span> Members</p>
                        </div>
                        <div class="">
                            <button class="join-btn btn-default">Join Room</button>
                        </div> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box pb-3 d-flex border-b justify-content-between  mt-2">
                        <div class="">
                            <img src="img/1.png" alt="" class="img-fluid">
                        </div>
                        <div class="limited-text mr-2">
                            <h5><a href="/room">African All  Stars African All </a> </h5>
                            <p><span class="bolder">8k</span> Post <span class="bolder">500</span> Members</p>
                        </div>
                        <div class="">
                            <button class="join-btn btn-default">Join Room</button>
                        </div> 
                    </div>
                </div>
            </div>   
            <div class="row ">
                <div class="col-md-6">
                    <div class="box pb-3 d-flex border-b justify-content-between  mt-2">
                        <div class="">
                            <img src="img/1.png" alt="" class="img-fluid">
                        </div>
                        <div class="limited-text mr-2">
                            <h5><a href="#">African All Stars </a> </h5>
                            <p><span class="bold">8k</span> Post <span class="bold">500</span> Members</p>
                        </div>
                        <div class="">
                            <button class="join-btn btn-default">Join Room</button>
                        </div> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box pb-3 d-flex border-b justify-content-between  mt-2">
                        <div class="">
                            <img src="img/1.png" alt="" class="img-fluid">
                        </div>
                        <div class="limited-text mr-2">
                            <h5><a href="/room">African All  Stars African All </a> </h5>
                            <p><span class="bolder">8k</span> Post <span class="bolder">500</span> Members</p>
                        </div>
                        <div class="">
                            <button class="join-btn btn-default">Join Room</button>
                        </div> 
                    </div>
                </div>
            </div>   
            <div class="row ">
                <div class="col-md-6">
                    <div class="box pb-3 d-flex border-b justify-content-between  mt-2">
                        <div class="">
                            <img src="img/1.png" alt="" class="img-fluid">
                        </div>
                        <div class="limited-text mr-2">
                            <h5><a href="#">African All Stars </a> </h5>
                            <p><span class="bold">8k</span> Post <span class="bold">500</span> Members</p>
                        </div>
                        <div class="">
                            <button class="join-btn btn-default">Join Room</button>
                        </div> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box pb-3 d-flex border-b justify-content-between  mt-2">
                        <div class="">
                            <img src="img/1.png" alt="" class="img-fluid">
                        </div>
                        <div class="limited-text mr-2">
                            <h5><a href="/room">African All  Stars African All </a> </h5>
                            <p><span class="bolder">8k</span> Post <span class="bolder">500</span> Members</p>
                        </div>
                        <div class="">
                            <button class="join-btn btn-default">Join Room</button>
                        </div> 
                    </div>
                </div>
            </div>   
                            
            <a href="#" class="text-right py-3">Load More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>
</div>