{{> header}}

<main>
    <section id="landing-page">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="side-like  pd-mobile ">
                        <h5 class="section-title bd-0">Search for a friend</h5>
                        <div>
                            <form action="">
                                <div class="form-group">
                                    <input type="text" placeholder="Enter name or email" id="userSearchInput" class="form-control">
                                </div>
                                <p class="btn btn-small btn-info pull-right" id="add-friend" onclick="searchUser()">Search</p>
                            </form>
                        </div>
                        <div id="search-result-layout" class="mt-7">
                    
                        </div>
                        <div class="see-more hidden-mobile">
                            <a href="#">See more</a>
                        </div>
                    </div>

                </div>
              
            </div>
        </div>

    </section>
</main>