

<div class="wrapper">
    <div class="signin">
        <h4 class="text-center">Fifa Fan</h4>
        <small class="d-flex justify-center my-3">Already have an account?<a class="ml-2" href="#">Log in</a></small>
        <form id="form-list">
            <p id="error-message"></p>
            <p id="success-message"></p>
            
            <div id="alert_message"></div>
            <input type="text" id="fullName" class="form-control" placeholder="Full Name" required autofocus>
            <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
            <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
            <div class="form-group">
                <select class="form-control" id="status">
                    <option value="">Status</option>
                    <option value="coach">Coach</option>
                    <option value="player">player</option>
                    <option value="fan">fan</option>
                </select>
            </div>
            <input type="password" id="password" class="form-control" placeholder="Password" required>
            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>

            <button class="btn btn-primary btn-block" type="submit">Sign Up</button>

        </form>
        <small class="d-flex justify-center mt-2">Forgot Password?<a class="ml-2" href="/forgetpassword">Reset Here</a></small>
    </div>
</div>