<div class="wrapper">
    <div class="signin">
        <h4 class="text-center">Fifa Fan</h4>
        <small class="d-flex justify-center my-3">Already have an account?<a class="ml-2" href="/login">Log in</a></small>
        {{!-- <form id="form"> --}}
            <div id="message"></div>

            <div id="alert_message"></div>
            <input type="text" id="fullName" class="form-control" placeholder="Full Name"  autofocus>
            <input type="text" id="username" class="form-control" placeholder="Username"  autofocus>
            <input type="email" id="email" class="form-control" placeholder="Email address"  autofocus>
             <input type="number" id="phone" class="form-control" placeholder="Phone NUmber"  autofocus>
            <div class="form-group">
                <select class="form-control" id="status">
                    <option value="">Status</option>
                    <option value="coach">Coach</option>
                    <option value="player">player</option>
                    <option value="fan">fan</option>
                </select>
            </div>
            <input type="password" id="password" class="form-control" placeholder="Password" >
            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" >

            <button class="btn btn-primary btn-block d-flex align-items-center justify-content-center" type="submit" id="submit">
                Sign Up
               <div class="lds-circle"><div></div></div>
            </button>

        {{!-- </form> --}}
        <small class="d-flex justify-center mt-2">Forgot Password?<a class="ml-2" href="/forgetpassword">Reset Here</a></small>
    </div>
</div>