{{> header}}


            {{> aboutsidebar}}
            <div class="col-md-9 mt-5">
                {{!-- {{> profilepix}} --}}
                <form class="mt-5">
                    <div class="form-group row">
                        <label for="inputAddress3" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" id="input_address_profile">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputWebsite3" class="col-sm-2 col-form-label">Website</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" id="input_website_profile">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputClub3" class="col-sm-2 col-form-label">Your Club</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" id="input_club_profile">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLanguage3" class="col-sm-2 col-form-label">Language</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" id="input_language_profile">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary pull-right" id="edit_contact_button">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>

