
{{> header}}

<main>
    <section id="edit-details">
        <div class="container">
            <section class="card">
                {{> aboutsidebar}}
                <div class="col-md-8">
                    <div class="container shrink">
                        {{> profilepix}}
                    <form class="mt-5">
                        <div class="form-group">
                            <label for="club">Club</label>
                            <input type="text" class="form-control" placeholder="Enter your club" id="input_club_profile">
                        </div>
                        <div class="form-group">
                            <label for="language">Language</label>
                            <input type="text" class="form-control" placeholder="Your Languages" id="input_language_profile">
                        </div>
                        <div class="form-group">
                            <label for="state">State Of Origin</label>
                            <input type="text" class="form-control" placeholder="Your State" id="input_state_profile">
                        </div>
                    
                        <button type="submit" class="btn btn-primary pull-right" id="edit_contact_button">Submit</button>
                    
                    </form>
                    </div>
                </div>
        </div>
        </div>
    </section>
    </div>
    </section>
</main>

