
<div class="wrap">
    <div class="signin">
        <h4 class="text-center color-blue"><a href="/">FiFa Fan</a></h4>
        <p class="text-center">{{message}}</p>
        <small class="d-flex justify-center mt-2">Didnt get the mail?<a class="ml-2" href="#">Resend Here</a></small>
        <div class="ribbon"></div>
    </div>
</div>