
<div class="container sign-up-container">
    <div class="card m-auto mt-5 width-50">
         <div class="card-body">
             <div class="text-center">
                {{!-- <img src="" title="logo"> --}}
                <h2 class="mt-3 mb-2 color-blue"><a href="/"><b>Fifafan</b></a></h2>
             </div>
            <p class="text-center">{{message}}</p>
        </div>
    </div>
</div>