* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #505962;
  background: #efefef;
}


.wrapper {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #bcdce9;
    height: 100vh;
    background: url('../img/614633.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
}

.wrap {
  display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #bcdce9;
    height: 100vh;
    background: url('../img/verify.jpg') no-repeat;
    background-size: cover;
    background-position:  center center;
}


.signin {
    /* border: 1px solid red; */
    width: 330px;
    padding: 40px 15px;
    margin: auto;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.signin input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: none;
}

.signin button {
    width: 100%;
    padding: 5px;
    background: rgb(73, 73, 235);
    color: #fff;
    border: 1px solid rgb(73, 73, 235);
}

.text-center {
    text-align: center;
}

.d-flex {
  display: flex;
    /* justify-content: center; */
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

.justify-center  {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end !important;
}

.space-between {
  justify-content: space-between !important;
}

.room-detail {
  flex-grow: 1;
}
.section-title {
  color: #1c54ee;
  font-weight: 900;
}

.room-box {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.room-profile {
  padding: 0 !important;
}

.room-info {
  padding: 20px;
}

.scrollable-text {
    overflow: auto;
    height: 500px;
    display: flex;
  flex-direction: column;
}

.scrollable-comments {
   overflow: auto;
    height: 250px;
    display: flex;
  flex-direction: column;
}

.sender-text {
    background: linear-gradient(360deg, #ccc, #0000001a);
    width: fit-content;
    color: #000;
    float: right;
    padding: 3px 20px;
    border-radius: 11px 6px;
    margin: 10px 0px;
    max-width: 80%;
}

.imgprofile img {
    border: 1px solid;
    border-radius: 50%;
    background-color: #005391;
    height: 100px;
}

#edit-details {
  margin-top: 100px;
}

#edit-sidebar {
  border-right: 2px solid #000;
  height: 60vh;
}

#edit-sidebar ul {
  list-style: none;
  padding: 20px;
}

#edit-sidebar ul li {
  padding: 4px 20px;
  margin: 6px 0;

}

#edit-sidebar ul li a {
  font-size: 18px;
}

.profile-pix {
  display: flex;
}

.shrink {
  padding: 0 60px;
}

.about-user-hd {
  padding: 10px;
}

.sidenav-abt .active{
  border-left: 3px solid #005391;
}

.pd-15 {
    padding: 15px;
}

.sender-text p {
  margin-bottom: 6px;
}

.post-box {
  width: 100%; 
}

.img-text img {
    width: 100%;
    height: 15rem;
    height: 16rem;
    object-fit: cover;
}

#user-full-name {
  color: #005391;
  font-size: 30px;
  font-weight: 900;

}

#user-profile-status {
  font-size: 20px;
  font-weight: 700;
}

/* profile */
.profile-background {
  padding: 0 !important;
}

.profile-picture {
    height: 140px;
    /* object-fit: cover; */
    border: 3px solid #000000;
    position: relative;
    bottom: 50px;
    /* left: 19px; */
    width: 140px;
    border-radius: 50%;
    background-image: url(../img/1.png);
    background-size: 100%;
    margin: 0 auto;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/* navigation */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand {
  font-size: 2rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}


/* landing-page */
#landing-page {
  margin-top: 100px;
}

.card {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow:-15px 0 35px rgba(0,0,0,0.1), 0 -15px 35px rgba(0,0,0,0.1);
}

.img-prof {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #772020;
}

.flex-end {
  justify-content: flex-end;
}

.fan-name {
  font-weight: 900;
  font-size: 20px;
}

.pull-right {
  float: right;
}

.room-box img {
  width: 50px;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 10px;
  }

  .side-button .btn {
  padding: 2px 7px;
  border: 0;
  font-weight: 900;
  margin: 0;
  text-transform: none;
  }

  .side-button {
    width: 100%;
  }

  .comment-section {
    border-top: 3px solid #505962;
  }

  .user {
    color: #fff;
    font-size: 16px;
  }

  .user:hover {
    color: #fff
  }

  

/* #sug-rooms img {
  height: 100px;
} */

.pd-pos {
  padding: 8px;
}

#myTab .nav-link {
  padding: 10px 69px;
}
/* media queries */

@media (max-width: 767px){

  .signin {
    max-width: 330px !important;
  }

  #edit-sidebar {
    display: none;
  } 

  .shrink {
    padding: 0;
  }

  .hidden-mobile {
    display: none;
  }

  video {
    width: 250px;
  }

  #simple-quotes {
    text-align: center;
  }

  .pd-mobile {
    padding: 10px !important;
  }
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: 0.15rem ;
    padding-bottom: 0.5rem;
  }

  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .narrow h1 {
    font-size: 1.5rem;
  }

  .clients img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }

}